.markdown-body .highlight pre, .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    
}
.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}
.markdown-body .highlight {
    margin-bottom: 16px;
}
.markdown-body pre {
    word-wrap: normal;
}
.markdown-body p, .markdown-body blockquote, .markdown-body ul, .markdown-body ol, .markdown-body dl, .markdown-body table, .markdown-body pre {
    margin-top: 0;
    margin-bottom: 16px;
}
.highlight {
    background-color: #f8f8f8;
}
pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}
user agent stylesheet
ul {
    list-style-type: disc;
}
.markdown-body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    color: #24292e;
    background-color: #fff;
    margin: auto;
    width: 90%;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.highlight{
    text-align: left;
}